.price-cards {
  display: flex;
  max-width: 1440px;
  height: 100%;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .price-cards {
    height: 1000px;
  }
}
.price-cards__list {
  display: block;
  width: 1194px;
  height: 100%;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .price-cards__list {
    display: flex;
    justify-content: center;
    height: 770px;
  }
}

.price-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 40px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  height: 770px;
  background-color: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
@media screen and (max-width: 460px) {
  .price-card {
    margin-left: 18px;
    margin-right: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .price-card {
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.price-card:not(:last-child) {
  margin-bottom: 18px;
}
@media screen and (min-width: 1200px) {
  .price-card:not(:last-child) {
    margin-right: 18px;
    margin-bottom: 0;
  }
}
.price-card_popular {
  position: absolute;
  right: -30px;
  top: 31px;
  height: 0;
  display: flex;
  justify-content: center;
  width: 147px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  border-bottom: 25px solid #dc3f45;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(45deg);
}
.price-card__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
}
.price-card__subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
.price-card__price {
  width: 100%;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  margin-bottom: 40px;
}
.price-card__price_green {
  background-color: #5bb189;
}
.price-card__price_blue {
  background-color: #3a6ba5;
}
.price-card__price_orange {
  background-color: #ec632a;
}
.price-card__price-number {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 18px;
}
.price-card__description {
  width: 328px;
  text-align: center;
  margin-bottom: 40px;
}
.price-card__option-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 39px;
}
.price-card__option-list-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 60px;
}
.price-card__option-list-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: 23px;
  width: 15px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.price-card__option-list-item_green::before {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
}
.price-card__option-list-item_blue::before {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
}
.price-card__option-list-item_orange::before {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
}
.price-card__option-list-item:nth-child(odd) {
  background-color: rgba(42, 52, 56, 0.5254901961);
}
.price-card__order-btn {
  width: 155px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border-radius: 20px;
  transition: transform 0.5s;
}
.price-card__order-btn:hover {
  transform: scale(1.2);
}
.price-card__order-btn_green {
  background-color: #5bb189;
}
.price-card__order-btn_green:active {
  box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.74);
}
.price-card__order-btn_green:focus {
  border: 1px solid #fff;
}
.price-card__order-btn_blue {
  background-color: #3a6ba5;
}
.price-card__order-btn_blue:active {
  box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.74);
}
.price-card__order-btn_blue:focus {
  border: 1px solid #fff;
}
.price-card__order-btn_orange {
  background-color: #ec632a;
}
.price-card__order-btn_orange:active {
  box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.74);
}
.price-card__order-btn_orange:focus {
  border: 1px solid #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  height: 100vh;
  background-color: #141b1c;
}
@media screen and (min-width: 1200px) {
  body {
    display: flex;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
